.gameboard {
  margin: 0;
  padding: 0;  
  width: 100px;
  height: 100px;
  display: grid;  
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
   
}
button {
  margin: 5px;
  padding: 5px;
}

.cell {
  border:1px solid blueviolet;
  width: 30px;
  height: 30px;
  background-color: ivory;
}

.cell:hover {
  background-color: lightgray;
}